@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root {
    /* colors are changeable always more combinations are in "https://coolors.co/" */
    --clr-Royal-Blue: hsl(215, 98%, 47%);

    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --Light-Gray: hsl(0, 0%, 75%);
    --clr-Transparent-Soft-violet: hsla(0, 0%, 0%, 0.5);

    /* animation and some effects */
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

    /* font-fam*/
    --body-font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}


/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

body {
    font-family: var(--body-font-family);
    text-decoration: var(--text-dec);
    background-color: var(--white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 16px
}

button {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

label {
    display: block;
    font-weight: 600;
    margin: 1rem 0 0.5rem;
    max-width: 100%;
}

input {
    background: transparent;
    border: 1px solid #dedede;
    border-radius: 4px;
    display: block;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    max-width: 100%;
    outline: none;
    padding: 0.75rem;
    width: 100%;
}

.login-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.loginBtn,
.addBtn {
    padding: 0.675rem;
    border-radius: 4px;
    background-color: var(--clr-Royal-Blue);
    font-weight: 600;
    margin: 1rem 0 0.5rem;
    border: none;
    color: var(--white);
}

.logoutBtn,
.cancel {
    padding: 0.675rem;
    border-radius: 4px;
    font-weight: 600;
    margin: 1rem 0 0.5rem;
    border: 0.2px solid gray;
    color: var(--black);
    background-color: var(--white);
}

.logoutBtn:hover{
    border: 0.5px solid black;
}

.cancel:hover{
    border: 0.5px solid black;
}