<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management</title>
    <!-- normalized css -->
    <link rel="stylesheet" href="/style/normalized.css" />
    <!-- fontAwesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Customized css -->
    <link rel="stylesheet" href="/style/customized.css" />
    <link rel="stylesheet" href="/style/componentStyles/form.css" />
  </head>
  <body>
    <div class="form-container">
      <h1>Add Employee</h1>
      <form>
        <div>
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" id="firstName" />
        </div>
        <div>
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" id="lastName" />
        </div>
        <div>
          <label for="email">Email</label>
          <input type="text" name="email" id="email" />
        </div>
        <div>
          <label for="salary">Salary($)</label>
          <input type="number" name="salary" id="salary" />
        </div>
        <div>
          <label for="date">Date</label>
          <input type="date" name="date" id="date" />
        </div>
        <button type="button" class="addBtn">
          <a id="addToHome" href="">Add</a>
        </button>
        <button type="button" class="cancel">
          <a id="goToHome" href="/component/home.html">Cancel</a>
        </button>
      </form>
    </div>

    <div class="" id="overlay">
      <div class="model-container" id="model-container">
        <div class="content" id="content">
          <i class="fa-solid fa-xmark"></i>
          <h3>Error!</h3>
          <p>All fields are required.</p>
          <button class="close-btn" id="btn-close">OK</button>
        </div>
      </div>
    </div>
    <script src="/script/form.js"></script>
  </body>
</html>
